@page "/games/{gameId:guid}/pre-game-lobby"
@using TheCodeKitchen.Presentation.ManagementUI.Models.TableRecordModels

<PageTitle>Pre-game Lobby</PageTitle>

@if (!string.IsNullOrWhiteSpace(ErrorMessage))
{
    <MudAlert Severity="Severity.Error">@ErrorMessage</MudAlert>
}
else if (GetGameResponse == null)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true"/>
}
else
{
    <MudText Typo="Typo.h3" Class="mb-3">@GetGameResponse.Name</MudText>

    if (GetGameResponse.Started == null)
    {
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@CreateKitchen" Class="mb-3">
            <MudIcon Icon="@Icons.Material.Filled.Add"/>
            Create Kitchen
        </MudButton>
    }

    <MudTable Items="@KitchenRecords"
              Context="KitchenContext"
              Hover="true"
              Breakpoint="Breakpoint.Sm"
              Loading="@(KitchenRecords == null)"
              LoadingProgressColor="Color.Primary"
              Class="mb-3">
        <NoRecordsContent>
            No kitchens found.
        </NoRecordsContent>
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Code</MudTh>
            <MudTh>Rating</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@KitchenContext.Name</MudTd>
            <MudTd DataLabel="Code">@KitchenContext.Code</MudTd>
            <MudTd DataLabel="Rating">@KitchenContext.Rating</MudTd>
        </RowTemplate>
        <ChildRowContent>
            @{
                List<CookTableRecordModel>? cookRecords = null;
                CookRecordsPerKitchen?.TryGetValue(KitchenContext.Id, out cookRecords);
                <MudTr>
                    <td colspan=3>
                        <MudCard Elevation="0">
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudText Typo="Typo.body1">Cooks in <strong>@KitchenContext.Name</strong></MudText>
                                </CardHeaderContent>
                            </MudCardHeader>
                            <MudCardContent Class="pa-0">
                                <MudTable Items="@cookRecords" 
                                          Context="CookContext" 
                                          Hover="true"
                                          Breakpoint="Breakpoint.Sm"
                                          Loading="@(cookRecords == null)"
                                          LoadingProgressColor="Color.Primary">
                                    <HeaderContent>
                                        <MudTh>Username</MudTh>
                                    </HeaderContent>
                                    <RowTemplate>
                                        <MudTd DataLabel="Username">@CookContext.Username</MudTd>
                                    </RowTemplate>
                                </MudTable>
                            </MudCardContent>
                        </MudCard>
                    </td>
                </MudTr>
            }
        </ChildRowContent>
    </MudTable>

    if (GetGameResponse.Started == null)
    {
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@StartGame" Class="mb-3">
            <MudIcon Icon="@Icons.Material.Filled.PlayArrow"/>
            Start Game
        </MudButton>
    }
    else
    {
        <MudAlert Severity="Severity.Info">The game has already started, go
            <MudLink Href="@($"/games/{GameId}")" Color="Color.Info">here</MudLink>
            !
        </MudAlert>
    }
}
    
    
    





